.top-menu {
    align-items: center;
    width: 100%;
    background-color: #0A0A23;
    z-index: 3;
    position: fixed;
    display: flex;
    white-space: nowrap;
}


/* optional brand/left area */
.brand {
color: white;
font-family: 'Times New Roman', Times, serif;
font-weight: 700;
font-size: 3vh;
}

/* Hide hamburger on large screens */
.hamburger {
    font-size: 4vh;
    color: white;
}

/* Your existing link styling stays the same */


.form-top {
    display: inline-block;
    margin-right: 2vw;
}



a.top-a {
text-decoration: none;
font-size: 4vh;
cursor: pointer;
border: none;
outline: none;
background: transparent;
color: white;
font-family: 'Times New Roman', Times, serif;
font-weight: 700;
position: relative;
transition: all 0.5s;
z-index: 1;
}

a.top-a::before {
content: "";
position: absolute;
margin-left: -1vw;
width: 0.2vw;
height: 100%;
background-color: white;
z-index: -1;
transition: all 0.5s;
}

a.top-a:hover::before {
width: 100%;
margin-left: 0vw;
}

a.top-a:hover {
color: black;
}

a.top-a:active:before {
background: #b9b9b9;
}
