body {
    background-color: #0A0A23; /*Dark background to match navbar*/
    /* Add a subtle background texture/image for depth */
    background-image: url('../images/backGround.png'); /* Replace with a path to a pattern */
    background-attachment: fixed;
    background-size: 100vw auto;
    background-repeat: repeat;
    min-height: 100vh;
    min-width: 100vw;
}

.header{
    font-size: 8vw;
    position: relative;
    color: white;
    text-align: center;
}

.paragraphs{
    color: aliceblue;
    text-align: center;
    font-size: 5vw;
    margin: 5vw;
}